// Success stories from our students
section.section.section-lg.novi-bg.novi-bg-img.bg-default
	.container
		.row.justify-content-center.text-center
			.col-xl-10
				h3 Success stories from our clients
				p.big Expedita fuga inventore iste iusto labore minima molestiae nam natus nobis nostrum porro possimus praesentium quas quisquam quo rem soluta temporibus totam vel voluptate voluptatem!
		.owl-carousel.owl-layout-6(
			data-items='1',
			data-lg-items='2',
			data-loop='false',
			data-margin='40',
			data-autoplay='true',
			data-owl!={
				nav: true
			}
		)
			+quote-boxed-2({
				img: 'home-14-86x86',
				title: 'The best local observatory',
				text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis cumque distinctio dolor eligendi enim eveniet exercitationem hic iusto magni modi nemo nesciunt nulla obcaecati optio, quos reprehenderit sint sit.',
				name: 'Leslie Alexander'
			})
			+quote-boxed-2({
				img: 'home-15-86x86',
				title: 'Great research assistance',
				text: 'Vitae voluptates! Alias cumque dignissimos earum eligendi facilis impedit, molestiae nam nulla odit pariatur porro quod, quos soluta? Amet autem dignissimos ea eos error expedita facilis fugiat illo laboriosam, laborum.',
				name: 'Jane Cooper'
			})
			+quote-boxed-2({
				img: 'home-16-86x86',
				title: 'Outstanding astronomy courses',
				text: 'Vero voluptatem voluptates. Dolorum, ducimus, tempore. Ad atque eius neque officia, optio rerum tempore unde? A animi deleniti dolor, ea eaque earum natus officiis possimus, quibusdam repudiandae sed vel velit voluptatum.',
				name: 'James wilson'
			})
			+quote-boxed-2({
				img: 'home-19-86x86',
				title: 'Observatory with high-quality equipment',
				text: 'Consectetur adipisicing elit. A ab, corporis delectus dolor fugit, illo laboriosam, mollitia necessitatibus nisi non nostrum possimus quibusdam unde ut vel. Eveniet, necessitatibus, ut. A animi deleniti dolor, ea eaque earum.',
				name: 'Peter Adams'
			})